<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%d] [%p] \(%F:%M:%L\) %n%m%n</Pattern>
		</encoder>
	</appender>

	<logger name="com.github.herowzz.springfuse" level="INFO" />

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>